<!DOCTYPE html>
<html style="height: 100%">
  <head>
    <meta charset="utf-8">
    <title>Add Card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </head>
  <body style="height: 100%; vertical-align: middle; align-items: center; display: flex; justify-content: center;  padding-top: 40px;  padding-bottom: 40px; background-color: whitesmoke;">
    <div class="container">
      
      <form class="" action="" method="post" id="form-signin">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">Please add details of new card.</h1>
        <br>
        <label for="username">Question:</label>
        <input type="text" class="form-control" name="question" id="question" value="{{ request.form.question }}" placeholder="Question" required>
        <br>
        <label for="password">Options:</label> 
        <input type="text" class="form-control" id="option_1" name="option_1" placeholder="Enter Option 1"value="{{ request.form.option_1 }}" required>
        <input type="text" class="form-control" id="option_2" name="option_2" placeholder="Enter Option 2"value="{{ request.form.option_2 }}" required>
        <input type="text" class="form-control" id="option_3" name="option_3" placeholder="Enter Option 3"value="{{ request.form.option_3 }}" required>
        <input type="text" class="form-control" id="option_4" name="option_4" placeholder="Enter Option 4"value="{{ request.form.option_4 }}" required>
        <br>
        <label for="username">Correct Answer:</label>
        <div style="text-align:center; display: flex; flex-wrap: nowrap; flex-direction: row;">
        <label class='o' style="display: inline-block;"><input class='checkbox' type="checkbox"  name="check" value='1' onclick="onlyOne(this)" checked>1</label>
        <label class='o' style="display: inline-block;"><input class='checkbox' type="checkbox"  name="check" value='2' onclick="onlyOne(this)">2</label>
        <label class='o' style="display: inline-block;"><input class='checkbox' type="checkbox"  name="check" value='3' onclick="onlyOne(this)">3</label>
        <label class='o' style="display: inline-block;"><input class='checkbox' type="checkbox" name="check" value='4' onclick="onlyOne(this)">4</label>
      </div>
      <br>
        <div style="text-align: center;">
          <button id="login" class="btn btn-primary" type="submit" value="create">Create</button>
        </div>
        <br>
      </form>
      <div style="text-align: center;">
        <a href="{{ url_for('cards', username=user['name'], category=category) }}" class="btn btn-outline-primary btn-sm" type="submit" value="create">Go Back</a>
      </div>

    </div>
  </body>
</html>