<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
  </head>
  <body style="height: 100%; vertical-align: middle; align-items: center; display: flex; justify-content: center;  padding-top: 40px;  padding-bottom: 40px; background-color: whitesmoke;">
    <div class="container">
        <form action="" class="form-signin" id="form-signin" method="post">
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">Please register</h1>
            <br>
            <input type="text" class="form-control" name="username" id="username" value="{{ request.form.username }}" placeholder="Enter Username" required>
            {% if username_error %}
            <span id="username_error" style="color: red; width: 10px;">**Username Already Exists!!</span>
            {% else %}
            <span id="error" style="color: red; width: 10px;"></span>
            {% endif %}
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"value="{{ request.form.password }}" required>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password"value="{{ request.form.confirm_password }}" required>
            {% if password_not_valid %}
            <span id="password_error" style="color: red; width: 10px;">**Password should be greater than 6 characters!!</span>
            {% else %}
            <span id="error" style="color: red; width: 10px;"></span>
            {% endif %}
            {% if password_error %}
            <span id="password_error" style="color: red; width: 10px;">**Confirm Password not matching with Password!!</span>
            {% else %}
            <span id="error" style="color: red; width: 10px;"></span>
            {% endif %}
            <br>
            
            <div style="text-align: center;">
                <button class="btn btn-primary" ontype="submit" value="Register">Register</button>
            </div>
        </form>
        <div style="text-align: center; margin-top: 5%;">
            <h6>Already have an account? Sign In!</h6>
            <a href="/login"><button id="login" class="btn btn-primary" value="Register">Sign In</button></a>
        </div>
    </div>
  </body>
</html>